<div class="user-create-container mat-elevation-z8">
  <h2>Registrar Usuario</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <!-- Campo Nombre -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput id="name" formControlName="name" type="text" />
      <mat-error *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
        El nombre es obligatorio y debe tener al menos 3 caracteres.
      </mat-error>
    </mat-form-field>

    <!-- Campo Correo Electrónico -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput id="email" formControlName="email" type="email" />
      <mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
        Debe ingresar un correo electrónico válido.
      </mat-error>
    </mat-form-field>

    <!-- Botón de Enviar -->
    <<div style="text-align: center; margin-top: 20px;">
      <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
        Registrar
      </button>
    </div>
  </form>
</div>